################################################################################
################### Development Virtual Environment Requires ###################
################################################################################
# https://getpelican.com/#quickstart
pelican[markdown]
